.button:pressed:hover {
    -fx-background-color: #d58123;
    -fx-scale-y: 1.03;
}

.button:hover {
    -fx-background-color: #d58123;
}

.button{
    -fx-background-color: #c76f04;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 0 0 0 20;
    -fx-alignment: left-center;
    -fx-cursor: hand;
}